*{
	margin: 0;
	padding: 0;
}
.clr{
	clear: both;
}
.wrapper{
	width: 100%;
	height: 100%;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*header part staert*/
.header{
	width: 100%;
	height: 60px;
	background: #2f2c2c;
}
.header .header_left{
	width: 45%;
	height: 60px;
	float: left;
	box-sizing: border-box;
}
.header .header_left span{
	text-transform: uppercase;
	font-size: 20px;
	font-family: Open Sans, sans-serif;
	color: white;
	font-weight: bolder;
	box-sizing: border-box;
	line-height: 60px;
	padding-left: 90px;
	
}
.header .menubar{
	width: 45%;
	height: 60px;
	float: left;
	position: relative;
}
.header .menubar ul li{
	list-style: none;
	float: left;
	box-sizing: border-box;
}
.header .menubar ul li a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	font-family: Bahnschrift SemiBold Condensed;
	font-weight: bold;
	padding: 0px 20px;
	line-height: 60px;
	border-right: 0.80px solid #8d8484;
	display: block;
	transition: all linear 0.4s;
	}
.header .menubar ul li:hover >a{
	background: #6c5858;
	color: wheat;
}
.header .menubar ul li:last-child a{
	border-right: 0;
}
/*reservation dropdown start*/
.header .menubar ul li ul{
    position: absolute;
    background: #2f2c2c;
    visibility: hidden;
    top: 120px;
    opacity: 0;
    transition: all linear 0.3s;
	z-index: 1;
}
.header .menubar ul li ul li{
    float: none;
}
.header .menubar ul li ul li a{
    border-bottom: 0.5px solid #8d8484;
    line-height: 44px;
}
.header .menubar ul li:hover ul{
    visibility: visible;
    top: 60px;
    opacity: 1;
}
.header .menubar ul li ul li:hover a{
	padding-left: 15px;
	box-sizing: border-box;
}
/*reservation dropdown end*/
.header_btn{
	width: 10%;
	height: 50px;
	float: left;
	box-sizing: border-box;
}
.header .header_btn ul li{
	list-style: none;
}
.header .header_btn ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: roboto;
	font-weight: bold;
	background: #bd070e;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	display: inline-block;
	box-sizing: border-box;
	margin: 15px 10px 0px 0px;
}
/*header part end*/

/*form part start*/
.form{
	width: 450px;
	height: 350px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
	background-image: url(../images/background.jpg); 
}
/*1st row start*/

.form_1st_row{
	width: 450px;
	height: 50px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 50px;
	border-bottom: 0.5px solid white;
	font-weight: bold;
	border-radius: 50px;
}
/*1st row end*/

/*2nd row start*/
.form_2nd_row{
	width: 450px;
	height: 250px;
}
.form_left1{
	float: left;
}

.salutation select{
	width: 210px;
	height: 30px;
	border: 2px solid #e6e1e1;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 5px;
	font-family: sans-serif;
	font-weight: 600;
	box-sizing: border-box;
}

.first_name{
	margin-top: 5px;
	margin-left: 10px;
}
.last_name{
	margin-top: 5px;
	margin-left: 10px;
}
.email{
	margin-top: 5px;
	margin-left: 10px;
}
.phn_num{
	margin-top: 5px;
	margin-left: 10px;
}
.textarea{
	margin-top: 5px;
	margin-left: 10px;
}
input{
	width: 210px;
	height: 30px;
	border: 2px solid #e6e1e1;
	font-family: sans-serif;
	font-weight: 600;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
}
.form_left2{
	float: left;
}
.COUNTRY select{
	width: 210px;
	height: 30px;
	border: 2px solid #e6e1e1;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 5px;
	font-family: sans-serif;
	font-weight: 600;
	box-sizing: border-box;
}
.city{
	margin-top: 5px;
	margin-left: 10px;
}
.postal_code{
	margin-top: 5px;
	padding-left: 10px;
}
.address{
	margin-top: 5px;
	margin-left: 10px;
}
/*2nd row end*/

/*3rd row start*/
.foem_3rd_row{
	width: 450px;
	height: 50px;
}
.form_3rd_row_left_clm{
	float: left;
	width: 225px;
	height: 50px;
}
.sub{
	border: 5px solid #d4dee2;
	border-radius: 20px;
	background: #4267B2;
	margin-top: 5px;
	box-sizing: border-box;
	margin-left: 10px;
	font-size: 12px;
	color: aliceblue;
	font-weight: 600;
}
.form_3rd_row_right_clm{
	float: left;
	width: 225px;
	height: 50px;
}
.res{
	border: 5px solid #d4dee2;
	border-radius: 20px;
	margin-top: 5px;
	box-sizing: border-box;
	margin-left: 10px;
	font-size: 12px;
	background: red;
	color: aliceblue;
	font-weight: 600;
}
/*3rd row end*/

/*form part end*/

/*footer start*/
.footer_full_wrap{
	width: 100%;
	height: 300px;
	background: #1E1E1E;
}
.footer_left{
	width: 33%;
	height: 300px;
	float: left;
}
.footer_left1{
	width: 100%;
	height: 100px;
	color: #959391;
	font-size: 15px;
	font-family: sans-serif;
	box-sizing: border-box;
	font-weight: 700;
	padding-left: 10%;
	letter-spacing: 2px;
	line-height: 100px;
}
.footer_left2{
	width: 100%;
	height: 200px;
}
.footer_left2_left{
	width: 50%;
	height: 200px;
	float: left;
}
.footer_left2_left ul{
	text-decoration: none;
	list-style: none;
}
.footer_left2_left li{
	color: #959391;
	font-family: sans-serif;
	box-sizing: border-box;
	padding-left: 20%;
	letter-spacing: 1px;
	line-height: 50px;
	font-size: 12px;
}
.footer_left2_left ul li:hover{
	color: #fff;
}
.footer_left2_right{
	width: 50%;
	height: 200px;
	float: left;
}
.footer_left2_right ul{
	list-style: none;
}
.footer_left2_right li{
	color: #959391;
	font-family: sans-serif;
	box-sizing: border-box;
	padding-left: 20%;
	letter-spacing: 1px;
	line-height: 50px;
	font-size: 12px;
}
.footer_left2_right ul li:hover{
	color: #fff;
}
.footer_center{
	width: 33%;
	height: 300px;
	float: left;
}
.footer_center_left{
	width: 50%;
	height: 300px;
	float: left;
}
.footer_center_left ul{
	list-style: none;
	margin-top: 100px;
}
.footer_center_left li{
	color: #959391;
	font-family: sans-serif;
	box-sizing: border-box;
	letter-spacing: 1px;
	line-height: 50px;
	font-size: 12px;
}
.footer_center_left li:hover{
	color: #fff;
}
.footer_center_right{
	width: 50%;
	height: 300px;
	float: left;
	box-sizing: border-box;
	padding-top: 115px;
}
.footer_right{
	width: 34%;
	height: 300px;
	float: left;
}
.footer_right1{
	width: 100%;
	height: 150px;
}
.footer_right1 .footer_right1_email{
	width: 100%;
	height: 75px;
	color: #959391;
	font-family: sans-serif;
	box-sizing: border-box;
	padding-top: 70px;
	letter-spacing: 1px;
	font-size: 16px;
}
.footer_right1 .footer_right1_input{
	width: 100%;
	height: 75px;
	padding-top: 35px;
	box-sizing: border-box;
}
.footer_right1 .footer_right1_input .input{
	width: 70%;
	height: 20.5px;
	background: #373737;
	padding-left: 10px;
	padding-right: 10px;
	border: 0.5px solid #373737;
	color: #fff;
	float: left;
}
.footer_right1 .footer_right1_input footer_right1_input_submit{
	padding-left: 20px;
	float: left;
	border: 1px solid #373737;
	height: 25px;
}
.footer_right2{
	width: 100%;
	height: 150px;
}
.footer_right2 .connect{
	width: 100%;
	height: 50px;
	color: #959391;
	font-family: sans-serif;
	box-sizing: border-box;
	padding-top: 20px;
	letter-spacing: 1px;
	font-size: 16px;
}

.footer_right2 .social{
	width: 100%;
	height: 100px;
}
.copy_right{
	width: 100%;
	height: 40px;
	background: #242323;
	line-height: 40px;
	color: white;
	text-align: center;
	font-size: 10px;
	font-family: sans-serif;
	box-sizing: border-box;
}
/*footer end*/
